body{background-image: url(https://img.freepik.com/foto-gratis/escuchandote-perro-joven-bulldog-frances-planteando-lindo-perrito-o-mascota-blanco-negro-jugueton-jugando-parece-feliz-aislado-sobre-fondo-blanco-concepto-movimiento-accion-movimiento_155003-34898.jpg?w=2000);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-color: #faf5f5;}
    *{
        font-family: Arial, Helvetica, sans-serif;
    
    }